body {
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

#background {
    position: absolute;

    width: 100%;
    height: 100%;
    background-image: url(backgroundnew-01.svg);

    background-size: 100% 100%;

}


#foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(foreground-01.png);
    background-size: 100% 100%;


}

#overlay {
    width: 100%;
    position: absolute;
    /*You may also use fixed depending on your needs.*/
    left: 0;
    top: 0;
    /*If you want it at the bottom you probably want bottom:0 instead*/
    z-index: 999;
}

#fox_container {

    position: absolute;
     top: 26vw;
    left: 40vw;

} /*hvordan kan containeren og sprite ikke hænge sammen?*/

#fox_sprite {

    width: 30vw;
    height: 32.68vw;
    position: absolute;
    background-image: url(foxspritenew-01.svg);
    background-size: 800% 100%;
}

.fox_container_walk_in {

    animation-name: fox_container_walk_in_kf;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction:reverse;

}

.fox_container_stop {   /* virker ikke??? WHYYYYYYY*/
    left: 40vw;

}

@keyframes fox_container_walk_in_kf {

    0% {
        left: 40vw;
    }
    100% {
        left: 80vw;
    }

}



.fox_paws {

    animation-name: fox_paws_kf;
    animation-duration: 5s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
}

@keyframes fox_paws_kf {

    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -800% 0;
    }

}

#bunny_container {


    width: 20vw;
    height: 90vw;
    position: absolute;

}

#bunny_sprite {

    background-image: url(walkcyclebunnynew.svg);
    background-size: 700% 100%;
    position: absolute;
    width: 11vw;
    height: 90vw;

}

.bunny_start_position {
    top: -9vw;
    left: 30vw;

}

.bunny_container_walk_in{
    animation-name: bunny_container_walk_in_kf;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

}

@keyframes bunny_container_walk_in_kf{
     0% {
        left: 0vw;
    }
    100% {
        left: 40vw;
    }
}

.bunny_container_stop{      /*virker ikke? - virker heller ikke med                                                                ræven*/
 left: px;
    }

.bunny_paws{

    animation-name: bunny_paws_kf;
    animation-duration: 1s;
    animation-timing-function: steps(7);
    animation-iteration-count: infinite;
}

@keyframes bunny_paws_kf {

    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -700% 0;
    }

}






.bunny_walk_in {
    animation-name: bunny_walk_in_kf;
    animation-duration: 1s;
    animation-timing-function: steps(7);
    animation-iteration-count: infinite;
}



/*.jumping {

    animation-name: bunny_walk_in_kf;
    animation-duration: 1s;
    animation-timing-function: steps(7);
    animation-iteration-count: infinite;
}*/

@keyframes bunny_walk_in_kf {

    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -700% 0;
    }
}

/*  from {
        transform: translate(-20px);
    }
    to {
        transform: translate(250px);
}
*/
