body {
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

#baggrund {

    width: 100%;
    height: 100%;
    background-image: url(background-01.svg);
    background-size: 100% 100%;

}


#fox {

    position: absolute;
    left: 10vw;
    top: 10vw;

    width: 150vw;
    height: 50vw;

    background-image: url(fox-01.svg);
    background-size: 100%;
    transform: translate(-25vw, -14vw);

}

#bunny {
    position: absolute;
    left: 10vw;
    top: 10vw;

    width: 90vw;
    height: 40vw;

    background-image: url(bunny-01.svg);
    background-size: 100%;
    /*    transform:   translate(-5vw, -0.1vw);*/
    transform: translateX(-20vw);

}


#bunny {
    position: absolute;
    left: 10vw;
    top: 10vw;

    width: 90vw;
    height: 40vw;

    background-image: url(bunny-01.svg);
    background-size: 100%;

    animation: mymove 5s infinite;
}

@keyframes mymove {
    0% {
        left: 0px;
    }
    50% {
        left: 100px;
    }
    100% {
        left: 0px;
    }
}

#fox {
    position: absolute;
    left: 10vw;
    top: 10vw;

    width: 90vw;
    height: 40vw;

    background-image: url(fox-01.svg);
    background-size: 100%;

    animation: mymove 5s infinite;
}

@keyframes mymove {
    0% {
        left: 0px;
    }
    50% {
        left: 100px;
    }
    100% {
        left: 0px;
    }
}
